@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Student Database</h1>
    <p>All students are required to fill in the database.</p>
    <img src="~/img/p1.jpg">
</div>

